<div class="container">
<h1 class="blog-title teal-text text-darken-3">Write to teach, read to learn, share to connect!</h1>
    {{#each posts as |post|}}
    <div class="row">
        <div class="col s12">
            <div class="card indigo lighten-1">
                <div class="card-content white-text">
                    <span class="card-title card-head"><a href="/post/{{post.id}}">{{post.post_title}}</a></span>
                    <p class="review-comment">{{post.post_text}}</p>
                    <p>Created by {{post.username}} on {{format_date date_created}}</p>
                </div>
            </div>
        </div>
    </div>
    {{/each}}
</div>