<div class="container">
<h2 class="blog-title teal-text text-darken-3">Welcome, {{username}}</h2>

<h4 class="blog-title teal-text text-darken-1"> Your Blog Posts:</h4>

    {{#each Posts as |post|}}
    <div class="row">
        <div class="col s10 offset-s1">
            <div class="card indigo lighten-1">
                <div class="card-content white-text">
                    <span class="card-title">{{post.post_title}}</span>
                    <p class="review-comment">{{post.post_text}}</p>
                    <p>Created by {{user.name}} on {{format_date date_created}}</p>
                </div>
            </div>
        </div>
    </div>
    {{/each}}

</div>